// Specific CSS for your home-page

.l1 {
  width: 500px;
  height: 3px;
  background: $light-gray;
  border-radius: 5px;
}
.l2 {
  width: 280px;
  height: 3px;
  background: $light-gray;
  border-radius: 5px;
  position: relative;
  top: 20px;
}

.reveal-loaded .reveal {
  opacity: 0;
  transform: translateY(100px);
}

.reveal-loaded {
  transition: 1s;
}

@media (max-width: 768px) {
  .l1,
  .l2 {
    display: none;
  }
}
