// Specific CSS for your home-page

.lignes {
  margin-top: 10px;
}
.l1 {
  width: 500px;
  height: 3px;
  background: $blue;
  border-radius: 5px;
}
.l2 {
  width: 280px;
  height: 3px;
  background: $blue;
  border-radius: 5px;
  position: relative;
  top: 20px;
}
