<div class="navbar-under-cover">
</div>

<div class="background-image background-image-home">

  <div class="lignes py-5">
    <div class="l1"></div>
    <div class="l2"></div>
  </div>

  <%# <h1 class="text-center title">Le design dont vous avez toujours rêvé pour vos meubles.</h1> %>

    <%# js %>
  <div class="container-first text-center">
      <h1 class="title-white"><span>Le </span><span>design </span><span>dont </span><span>vous </span><span>avez </span><span>toujours </span><span>rêvé. </span></h1>
  </div>

  <a href="#3-lasts" class="btn-white">3 dernières créations</a>
  <%# js %>

</div>

<div class="container-home"  >
  <h3 class="text-white text-center fw-bold">Les 3 dernières créations</h3>

  <% if @items.any? %>
    <div class="items-grid my-5">
        <%= render "shared/item_card" %>
    </div>
  <% else %>
    <em>Vous n'avez pas encore ajouté de meuble.</em>
  <% end %>
</div>
