<div class="navbar-under-cover">
</div>

<div class="background-image background-image-home">

  <h1 class="title-white text-center">Merci pour votre email! </h1>
  <p class="text-white text-center">Nous vous répondrons dans les plus brefs délais.</p>

  <div class="text-center"><%= link_to "Retourner à l'accueil", items_path, class:"btn-white" %></div>

</div>
