<div class="container">

  <div class="container-first text-center">
    <h1 class="title"><span>Faites </span><span>plaisir </span><span>à </span><span>votre </span><span>intérieur</span><span>. </span></h1>
  </div>

  <%= link_to "+ Ajouter un meuble", new_item_path, class:"btn btn-warning text-white"%>

  <% if @items.any? %>
    <div class="items-grid my-5">
      <%= render "shared/item_card" %>
    </div>
  <% else %>
    <div class="mt-5">
      <em>Vous n'avez pas encore ajouté de meuble. Cliquer sur "Ajouter un meuble".</em>
    </div>
  <% end %>

</div>
