<div class="navbar-under-cover">
</div>
<div class="background-image background-image-shop">
  <div class="lignes py-5">
    <div class="l1"></div>
    <div class="l2"></div>
  </div>

  <div class="container-first text-center">
    <h1 class="title-white"><span>La </span><span>Boutique </span><span>. </span> </span></h1>
    <h1 class="title-white"><span>Ici, </span><span>faites </span><span>plaisir </span><span>à </span><span>votre </span><span>intérieur</span><span>. </span></h1>
  </div>

  <a href="#3-lasts" class="btn-arrow"><i class="fa-solid fa-angles-down"></i></a>

</div>

<div class="container-shop">
  <% if user_signed_in? && current_user.email == "patrick.j@gmail.com" %>
    <%= link_to "+ Ajouter un meuble", new_item_path, class:"btn btn-warning text-white"%>
  <% end %>

  <% if @items.any? %>
    <div class="items-grid my-5">
       <% @items.each do |item| %>
        <%= render "shared/item_card", item: item %>
      <% end %>
    </div>
  <% else %>
    <div class="mt-5">
      <em>Vous n'avez pas encore ajouté de meuble. Cliquer sur "Ajouter un meuble".</em>
    </div>
  <% end %>

</div>
