.container-grid {
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: $green;
  padding: 50px 30px;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-auto-flow: row;
  justify-content: center;
}


@media (max-width: 1024px) {
  .items-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .items-grid {
    grid-template-columns: 1fr;
  }
  .container-grid {
    padding: 50px 2px;
  }
}
