.title {
  padding-top: 60px;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
  color: #586861;
  font-size: 65px;
  font-weight: bold;
}

.title-white {
  padding-top: 35px;
  margin-bottom: 100px;
  font-family: "Raleway", sans-serif;
  color: #f7f3f3;
  font-weight: bold;
  font-size: 65px;
}
