.title {
  padding-top: 60px;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
  color: #586861;
  font-size: 60px;
  font-weight: bold;
}

.title-white {
  padding-top: 35px;
  margin-bottom: 100px;
  font-family: "Raleway", sans-serif;
  color: $light-gray;
  font-weight: bold;
  font-size: 60px;
}

.little-title-white {
  color: $light-gray;
}

.title-devis {
  // position:relative;
  // left: 197px;
}

@media (max-width: 500px) {
  .title-white {
    font-size: 34px;
  }
}
