.container-home {
  margin-top: 25px;
  background-color: #80808030;
  padding: 50px 30px;
}

.container-contact {
  margin: 0 440px;
}

.container-shop {
  margin-top: 25px;
  background-color: #80808030;
  padding: 50px 30px;
}
